/* azeret mono font's */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    font-family: "Azeret Mono", monospace;
}

/* hero-contener */
#hero-contener{
    max-width: 1140px;
    height: 57px;
    margin: 38px auto;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-content h2{
    color: #0D1321;
    font-weight: 800px;
    font-size: 28px;
}
.hero-content a{}
.hero-content a button{
    color: #0D1321;
    font-weight: 600px;
    font-size: 20px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px;
}

/* banner-container */

#banner-container{
    /* max-width: 1440px; */
    height: 652px;
    background-image: url("../assets/Hero-bg.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    margin: 0 auto;
}
.banner-content{
    max-width: 998px;
    height: 582px;
    margin: 26px auto 0;
}

.banner-top-section{
    text-align: center;
    margin: 0 auto;
}
.banner-top-section img{
    margin-bottom: 32px;
}

.banner-bottom-section{
    text-align: center;
    margin: 0 auto;
}
.banner-bottom-section h1{
    font-size: 48px;
    color: #0D1321;
    font-weight: 800px;
    margin-bottom: 24px;
}
.banner-bottom-section p{
    color: #0D1321;
    font-size: 16px;
    margin-bottom: 32px;
    max-width: 852px;
    height: 52px;
    margin: 0 auto;
}
.banner-bottom-section a{}
.banner-bottom-section a button{
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 20px;
    border-radius: 8px;
    padding: 21px 24px;
    background-color: #0D1321;
}

/* web-development-container */

#web-development-container{
    max-width: 1140px;
    height: 1393px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 74px auto 90px;
    border: 1px solid rgba(13, 19, 33, 0.02);
}
.web-development-section{
    max-width: 946px;
    height: 1233px;
    margin: 80px auto;
    /* border: 1px solid red; */
}

/* common part for top section */
.common-content{
    max-width: 852px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid black; */
}
.common-content h2{
    /* border: 1px solid rgb(255, 196, 0); */
    margin-bottom: 24px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}
.common-content p{
    /* border: 1px solid red; */
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

#wd-content-container{
    max-width: 946px;
    height: 1072px;
    margin: 48px auto 0;
    /* border: 1px solid black; */
}
/* 1.common 2 section */

.wd-content-box{
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin: 0 auto 32px;
    border: 1px solid #FFFFFF;
}
.wd-content-section{
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    height: 240px;
    margin: 48px auto;
    /* border: 1px solid black; */
}

.wd-content-text{
    max-width: 477px;
    height: 219px;
    margin: 10px 0;
}
.wd-content-text h3{
    max-width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}
.wd-content-text p{
    max-width: 468px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0 32px;
    opacity: 0.7;
    /* border: 1px solid red; */
}
.wd-content-text a{}
.wd-content-text a button{
    max-width: 171px;
    height: 47px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.wd-content-img{
    max-width: 259.56px;
    height: 217.01px;
}
.wd-content-img img{}

/* 2.unique */
.wd-content-box-nd{
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin: 0 auto 32px;
    border: 1px solid #FFFFFF;
}

.wd-unique-content-section{
    display: flex;
    max-width: 850px;
    height: 240px;
    margin: 48px auto;
    /* border: 1px solid black; */
}

.wd-unique-content-text{
    max-width: 477px;
    height: 219px;
    margin: 10.5px 0 10.5px 32px;
    /* border: 1px solid yellowgreen; */
}
.wd-unique-content-text h3{
    max-width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}
.wd-unique-content-text p{
    max-width: 468px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0 32px;
    opacity: 0.7;
}
.wd-unique-content-text a{}
.wd-unique-content-text a button{
    max-width: 171px;
    height: 47px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.wd-unique-content-img{
    max-width: 240px;
    height: 240px;
    /* border: 1px solid red; */
}
.wd-unique-content-img img{}

/* inspiration-container */
#inspiration-container{
    max-width: 1140px;
    height: 775px;
    margin: 0 auto 151px;
}
.inspiration-section{}

.inspiration-content{
    margin: 0 auto 48px;
}

.inspiration-video-section{
    max-width: 1140px;
    height: 614px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin: 0 auto;
}
.inspiration-video{
    max-width: 1076px;
    height: 550px;
    margin: 32px auto;
}
.inspiration-video iframe{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

/* target container */
#target-container{
    max-width: 1140px;
    height: 460px;
    margin: 0 auto 111px;
    /* border: 1px solid red; */
}
.target-section{}

.target-content{
    margin-bottom: 48px;
}

.target-skills-container{}
.target-skills{
    display: flex;
    justify-content: space-between;
}
.target-skill{
    max-width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}

.CSS{
    background: rgba(0, 76, 232, 0.05);
}
.JavaScript{
    background: rgba(255, 223, 0, 0.05);
}

.target-skill img{
    margin-bottom: 24px;
}
.target-skill h4{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}
.target-skill p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 24px;
}
.target-skill a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* next-target */
#next-target-container{
    max-width: 1140px;
    height: 866px;
    margin: 0 auto 49px;
    /* border: 1px solid red; */
}
.next-target-section{}

.next-target-content{
    margin: 0 auto 48px;
}

.next-target-lists{}

.next-target-list-container{
    max-width: 1140px;
    height: 219px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 0 0 23px;
}

.next-target-list{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1060px;
    height: 139px;
    margin: 40px;
}

.next-target-img{
    max-width: 94.78px;
    height: 108px;
    margin: 15.5px 24px 15.5px 0;
    /* border: 1px solid red; */
}
.next-target-img img{}

.next-target-description{
    max-width: 941.22px;
    height: 139px;
    /* border: 1px solid red; */
}

.NodeJs{
    margin: 25px 24px 25px 0;
    max-width: 143.3px;
    height: 87.75px;
}
.MongoDB{
    margin: 15px 24px 15px 0;
    max-width: 108px;
    height: 108px;
}

.NodeJs-text{
    max-width: 892.49px;
    height: 139px;
}
.MongoDB-text{
    max-width: 928px;
    height: 139px;
}

.next-target-description h3{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
}
.next-target-description p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin: 8px 0 24px;
}
.next-target-description a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}